<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
</head>
<body>
    <h3> Personal Details</h3>
    <form action='/' method='POST'>
         <label><p>Employee First Name</p></label>
         <input type = "text" placeholder="Please Enter Employee First Name" name = "Employee First Name" /></br>
        <br>
         <p>Employee Middle Name</p>
         <input type = "text" placeholder="Please Enter Employee Middle Name" name = "Employee Middle Name" /></br>
        <br>
         <p>Employee Last Name</p>
         <input type = "text" placeholder= "Please Enter Employee Last Name" name = "Employee Last Name" /><br>
        <br>
         <p>Gender</p>
         <select id="gender" name="Gender">
             <option placeholder="male"> Male </option>
             <option placeholder="female"> Female </option>
         </select>
         <br>
         <p>Date of Birth</p>
         <input type = "text" placeholder= "Please Enter Date of Birth" name = "Date of Birth" /><br>
         <br>
         <p>Mobile Number</p>
         <input type = "text" placeholder= "Please Enter Mobile Number" name = "Mobile Number" /><br>
         <br>
         <p>Alternate Mobile Number</p>
         <input type = "text" placeholder= "Please Enter Alternate Mobile Number" name = "Alternate Mobile Number" /><br>
         <br>
         <p>Email ID</p>
         <input type = "text" placeholder= "Please Enter Email Id" name = "Email ID" /><br>
         <br>
         <p>Marital Status</p>
         <select id="marital" name="Marital Status">
             <option placeholder="single"> Single </option>
             <option placeholder="married"> Married </option>
         </select>
         <br>
         <p>Blood Group</p>
         <select id="bg" name="Blood Group">
             <option placeholder="ab+"> AB+ </option>
             <option placeholder="ab-"> AB- </option>
             <option placeholder="b+"> B+ </option> 
             <option placeholder="o+"> O- </option>
         </select>
         <p><input type = "submit"></p>
         
    </form>

</body>
</html>